@import 'normalize.css';
@import './variables.scss';
@import './Form.scss';

a,
button,
input,
p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Raleway', sans-serif;
  color: $dark-grey;
  margin: 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

a {
  text-decoration: none;
  font-weight: 400;
}

button:hover,
a:hover {
  cursor: pointer;
  opacity: 0.7;
}

input {
  padding: 0 10px !important;
  box-sizing: border-box;
}

textarea {
  min-height: 100px !important;
  padding: 0 10px !important;
  box-sizing: border-box;
}

body {
  background-color: $main-color;
  height: 100vh;
  display: table;
  width: 100%;
  position: relative;
}

body::after {
  content: '';
  display: block;
  height: 50px; /* Set same as footer's height */
}

.wrapper {
  border-radius: 20px;
  padding: 2vh 2vw;
  background-color: $white;
  background-size: cover;
  height: 100vh;
}

.route {
  width: 100%;
  height: 100%;
  padding-left: 0 !important;
  padding-right: 0 !important;
  position: relative;
}

.route-wrp {
  width: 90vw;
  margin-top: 20px;
  margin-left: 5vw;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.route-author {
  position: absolute;
  top: 5vh;
  right: 5vw;
}

.route-descr {
  white-space: pre-wrap;
}

.action-buttons-wrp {
  margin-top: 20px;
  position: absolute;
  bottom: 20px;
  right: 2vw;
  display: flex;
  column-gap: 20px;
}

.action-buttons {
  height: 45px;
  padding: 0 45px;
  width: fit-content;
}

.route-input:focus-within {
  box-shadow: none !important;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 2vw;
  height: 10vh;
  position: relative;
}

.icon {
  text-decoration: none;
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.icon-img {
  color: $white;
  width: 30px;
  height: 30px;
}

.white-text {
  color: $white;
}
.hidden {
  display: none !important;
}
.header-user {
  border: none;
  background: transparent;
  border-radius: 50%;
  color: $white;
  font-weight: bold;
}

.header-user:focus,
.header-user:active,
.header-user:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-user > h3 {
  color: $white;
}

.header-item {
  display: flex;
  align-items: center;
  column-gap: 1px;
}

.header-item:focus,
.header-item:active,
.header-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.header-wrp {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.profile-img {
  color: $white;
  width: 30px;
  height: 30px;
  stroke-width: 1px;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-profile {
  position: absolute;
  z-index: 1000;
  right: 20px;
  top: 20px;
  margin: 4vh 0 0 auto;
  border-radius: 20px;
  border: none;
  display: flex;
  flex-direction: column;
}

.modal-profile-close {
  background: transparent;
  border: none;
  position: absolute;
  right: 10px;
  top: 7px;

  &:active,
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
}

.modal-profile-link {
  &-text {
    margin: 0;
    padding: 10px 0;
    text-align: center;
  }

  &:active,
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
}

.modal-profile-logout {
  background: transparent;
  border: none;

  &:active,
  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }
}

.search {
  background-color: $main-color;
  height: 30vh;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}

.search-form {
  display: flex;
  align-items: center;
  margin: auto;
  width: 50%;
  border-radius: 30px;
  border: 3px solid $main-color;
  position: absolute;
  height: 50px;
  bottom: -25px;
  background: $white;
}

.search-button {
  right: 1vw;
  position: absolute;
  border: none;
  background: transparent;
  padding-bottom: 0;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.search-button_clear {
  right: 4vw;
}

.search-button:hover {
  cursor: pointer;
  background-color: $main-color;
}

.search-button:hover svg {
  color: $white;
}

.search-icon {
  color: $main-color;
}

.search-input {
  border: none;
  outline: none;
  border-radius: 16px;
  width: 100%;
  height: 50px;
  padding-left: 2vw;
  background: transparent;
  color: $dark-grey;
  text-decoration: none;
}

.search-input::placeholder {
  color: $dark-grey;
}

.spinner {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.card-list {
  list-style-type: none;
  margin-top: 5vh;
}

.card-item {
  padding: 0;
  border-radius: 30px;
  border: 3px solid $main-color;
  height: 25vh;
  display: flex;
}

.card-img {
  border-radius: 30px 0 0 30px;
}

.card-info {
  margin-left: 5vw;
  padding-top: 10px;
}

.card-empty {
  text-align: center;
  margin-top: 10vh;
}

.footer {
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
}

.footer-text {
  text-align: center;
  color: $white;
  margin: auto;
  font-weight: 400;
}

.error-text {
  color: $error-red;
}

.map-container {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  margin-bottom: 75px;
}

.marker {
  border-radius: 50%;
  border: 2px solid $main-color;
  background: transparent;
  box-shadow: none;
}

.ol-overlaycontainer-stopevent {
  float: inline-end;
}

.ol-zoom {
  pointer-events: auto;
  position: absolute;
  right: 5px;
  top: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ol-zoom > button {
  width: 35px;
  height: 35px;
  font-size: x-large;
  border-radius: 20px;
  border: 3px solid $main-color;
  color: $main-color;
  background: $white;
  font-weight: bold;
}

.ol-zoom > button:hover {
  cursor: pointer;
}

.ol-rotate {
  display: none;
}

.ol-attribution > button {
  display: none;
}

.ol-attribution > ul {
  list-style-type: none;
  position: absolute;
  bottom: -10px;
  right: 5px;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 99%;
}

.popup {
  background-color: $white;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
  min-width: 41vw;
  max-width: 50vw;
  z-index: 1000;
}

.popup > p {
  text-align: center;
}

.popup-input {
  width: 97%;
  margin-top: 10px;
  border-radius: 20px;
  border: 1px solid $main-color;
  height: 30px;
}

.popup-wrp {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.popup-closer {
  padding-top: 3px;
  float: right;
  width: 23px;
  height: 20px;
  text-align: center;
}

.popup-closer:hover {
  color: $white;
  background: $main-color;
  border-radius: 50%;
}

.popup-text {
  text-align: center;
}

.popup-content > p {
  text-align: center;
}

.popup-button {
  border-radius: 20px;
  min-width: 45%;
  width: fit-content;
  padding: 0 15px;
  height: 30px;
}

.primary-button {
  border: 1px solid $main-color;
  background: $main-color;
  color: $white;
  border-radius: 20px;
}

.default-button {
  border: 1px solid $main-color;
  background: transparent;
  border-radius: 20px;
}

.popup-list {
  margin-top: 10px;
  // width: 100%;
}

.popup-img {
  // width: 50%;
  width: 100%;
  height: 100%;
}

.popup-images {
  margin-top: 10px;
}

.avatar {
  margin-right: 5vw;
  width: auto !important;
}

.avatar > .ant-upload-list > .ant-upload-select,
.avatar > .ant-upload-list > .ant-upload-list-item-container {
  height: 300px !important;
  width: 300px !important;
}

.profile {
  position: relative;
}

.profile-wrp {
  display: flex;
}

.profile-routes {
  margin-top: 200px !important;
}

.profile-edit {
  position: absolute;
  right: 2vw;
  width: 30px;
  height: 30px;
  color: $dark-grey;
}

.profile-info {
  width: 100%;
  position: relative;
}

.profile-info-img {
  margin: auto 0;
  height: 1.25em;
}

.profile-info-button {
  border: none;
  background: transparent;
  padding: 0;
}

.profile-info-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.profile-buttons-wrp {
  margin-top: 20px;
  right: 2vw;
  display: flex;
  column-gap: 20px;
}

.avatar {
  min-width: 200px;
  min-height: 200px;
}

.avatar > .ant-upload-select {
  width: 100% !important;
  height: 100% !important;
}
